.empty__message { margin: 0 0 50px; font-size: 18px; }
.video-grid { display: grid; gap: 50px; grid-template-columns: repeat(4, minmax(0,1fr)); }
.auth-switch {
    margin: 40px 0 0; text-align: center;

    a { text-decoration: underline; }
}

.avatar {width:150px; height:150px; border-radius:50%;}