extends ../base


block content
   form(method="POST") 
      input(placeholder="이전 비밀번호")
      input(placeholder="새 비밀번호")
      input(placeholder="새 비밀번호 확인")
      input(value="Change Password" type="submit")